# CSC110Y1F: Python libraries we'll be using for our final project.

# Testing and code checking
hypothesis
pytest
python-ta
doctest

# Graphics and data visualization
plotly
pmaw
csv
pandas
datetime
matplotlib
openpyxl
numpy
scikit-learn

# Sentiment analysis
nltk
ssl
wordcloud
